<nav class="sticky-top mx-0 navbar navbar-expand-lg navbar-light bg-light">
    <a href="/" class="navbar-brand" id = "<%=path==='index'?'selected':''%>" >HOME</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <%if(isAuth){%>
        <li class="nav-item active">
          <a class="nav-link" id="<%=path === 'generated_requests' ? 'selected':''%>" href="/getGeneratedRequests">Generated Requests<span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" id="<%=path === 'request_form' ? 'selected':''%>" href="/getRequestForm">Request Form<span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" id="<%=path === 'approved_requests' ? 'selected':''%>" href="/getApprovedRequests">Approved Requests<span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" id="<%=path === 'to_be_approved_requests' ? 'selected':''%>" href="/getToBeApprovedRequests">To Be Approved Requests<span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" id="<%=path === 'generated_finance_requests' ? 'selected':''%>" href="/getGeneratedFinanceRequests">Generated Finance Requests<span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" id="<%=path === 'to_be_approved_finance_requests' ? 'selected':''%>" href="/getToBeApprovedFinanceRequests">To Be Approved Finance Requests<span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" id="<%=path === 'approved_finance_requests' ? 'selected':''%>" href="/getApprovedFinanceRequests">Approved Finance Requests<span class="sr-only">(current)</span></a>
        </li>
        <%}%>
      </ul>
   
      <ul class = "navbar-nav">
        <ul class = "navbar-nav">
        
          <%if(!isAuth){%>
          <li class="nav-item active">
            <a class="nav-link" id="<%=path === 'login' ? 'selected':''%>" href="/login">Log In<span class="sr-only">(current)</span></a>
          </li>
  
          <li class="nav-item active">
              <a class="nav-link" id="<%= path === 'signup' ? 'selected' : ''%>" href="/signup">Sign Up<span class="sr-only">(current)</span></a>
          </li>
          <%}else{%>
          <li class="nav-item active">
            <a class="nav-link" id="" href="/logout">Log Out<span class="sr-only">(current)</span></a>
          </li>
          <%}%>
        </ul>

      </ul>
    </div>
  </nav>
