<%- include('./includes/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="css/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/0cfa224e02.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <body style="background-color: wheat;">

<div class="con d-flex container-fluid justify-content-around row pt-5" >
    <form class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-12 shadow mt-5" action="/generateFinanceRequest" method="post">
        <div style="text-align: center;">
            <h5>No Budget code is available for this position.</h5>
            <h5>You need to make a request to finance team.</h5>
            <hr>
            <h2>Confirm The Request</h2>
        </div>
        <hr>
        <hr>
        <div style="text-align: center;">
            <label for="toBeApprovedBy"><b>Approver Email</b></label><br>
            <input style="width: 80%; border-radius:20px;opacity: 0.8;" class="name border p-3 mt-2 mb-2" type="text" id="toBeApprovedBy" name="toBeApprovedBy" placeholder="Enter Your Approver Email" value="">
        </div>
        <div style="text-align: center;">
            <label for="reportingManager"><b>Reporting Manager Email</b></label><br>
            <input style="width: 80%; border-radius:20px;opacity: 0.8;" class="name border p-3 mt-2 mb-2" type="text" id="reportingManager" name="reportingManager" placeholder="Enter Reporting Manager Email" readonly value="<%=request.requestBody.reportingManager%>">
        </div>
        <div style="text-align: center;">
            <label for="prior" ><b>Priority</b></label><br>
            <input style="width: 80%; border-radius:20px;opacity: 0.8;" class="name border p-3 mt-2 mb-2 _new" type="text" id="prior" name="prior"  placeholder="Enter the priority" readonly value="<%=request.requestBody.priority%>">
        </div>
        <div style="text-align: center;">
            <label for="team"><b>Team Name</b></label><br>
            <input style="width: 80%; border-radius:20px;opacity: 0.8;" class="name border p-3 mt-2 mb-2" type="text" id="team" name="team" placeholder="Enter the team name" readonly value="<%=request.requestBody.team%>">
        </div>
        <div style="text-align: center;">
            <label for="position"><b>Select Position</b></label>
            <input style="width: 80%; border-radius:20px;opacity: 0.8;" class="name border p-3 mt-2 mb-2" type="text" id="position" name="position" placeholder="Enter the position" readonly value="<%=request.requestBody.position%>">
        </div>
        <div style="text-align: center;">
            <input style="width: 80%; border-radius:20px;opacity: 0.8;" class="name border p-3 mt-2 mb-2" type="hidden" id="refId" name="refId" value="<%=request._id%>">
        </div>
        <div style="text-align: center;">
            <label for="BusinessCase"><b>Business Case</b></label><br>
            <textarea style="width: 80%; border-radius:20px;opacity: 0.8;" class="name border p-3 mt-2 mb-2" type="text" id="BusinessCase" name="BusinessCase" placeholder="Enter the business case" readonly value=""><%=request.requestBody.businessCase%></textarea>
        </div>
        
        <div style="text-align: center;">
            <label for="comment"><b>Message for Approver</b></label><br>
            <textarea style="width: 80%; border-radius:20px;opacity: 0.8;" class="name border p-3 mt-2 mb-2" type="text" id="comment" name="comment" placeholder="Enter the message for approver" value=""></textarea>
        </div>

        <div style="text-align: center;">
            <input style="width: 50%;border-radius:20px;opacity: 0.8;" class="name border p-3 mt-2 mb-2" type="submit" placeholder = "Sign in">
        </div>
        
    </form>
</div>
<%- include('./includes/end.ejs') %>