<%- include('./includes/head.ejs') %>
<link rel="stylesheet" type="text/css" href="css/register.css">
<link rel="stylesheet" type="text/css" href="css/table.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/0cfa224e02.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<body style="background-color: rgba(255,164,0, 0.04999999701976776);">

  <%- include('./includes/nav.ejs') %>


    <div style="text-align: center;">
        <h1>FTE Allocated / Offered Budget Codes</h1>
    </div>
    <form style="margin-left: 10px;" method="post">
      <label for="filters"><h3>Filters</h3></label>
      <div class="form-row">
        <div class="form-group col-md-2">
              
              <select class="form-control type" id="position" name="position">
                  <option selected>Position</option>
                  <option>SDE 1 BE</option>
                  <option>SDE 1 FE</option>
                  <option>SDE 2 BE</option>
                  <option>SDE 2 FE</option>
                  <option>SDE 3</option>
                  <option>EM</option>
                  <option>Director</option>
                  <option>Sr. Director</option>
                  <option>QA 1</option>
                  <option>QA 2</option>
                  <option>QA 3</option>
                  <option>Data Analyst 1</option>
                  <option>Data Analyst 2</option>
                  <option>Data Scientist 1</option>
                  <option>Data Scientist 2</option>
              </select>
          </div>

          <div class="col-auto my-1 sel-btn">
            <button type="submit" class="btn">Filter</button>
          </div>
      </div>
  </form>
  <span style="float: right; margin-right: 10px">  <h4>Total : <%= count %></h4></span><div class="sel-btn"><a class="btn" style="float: right; margin-right: 10px;font-size: 1rem;" href="http://localhost:5000/getBudgetCodes">Refresh</a></div>
    <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Budget code</th>
            <th scope="col">Position</th>
            <th scope="col">Assigned To</th>
            <th scope="col">Team</th>
            <th scope="col">Reporting Manager</th>
          </tr>
        </thead>
        <tbody>
        <% budgetCodes.forEach(function callback(value, index) {%>
          <tr>
            <th scope="row"><%= index %></th>
            <td><%= value.budgetCode %></td>
            <td><%= value.position %></td>
            <td><%= value.assignedTo %></td>
            <td><%= value.team %></td>
            <td><%= value.reportingManager %></td>
          </tr>
         <% }) %>
        </tbody>
      </table>
    
<%- include('./includes/end.ejs') %>