<%- include('./includes/head.ejs') %>
<link rel="stylesheet" type="text/css" href="css/register.css">
<link rel="stylesheet" type="text/css" href="css/login.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/0cfa224e02.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<body>
    <div style="text-align: center;">
        <h1>Hired Employees</h1>
    </div>
    <hr/>
    <form style="margin-left: 10px;" method="post">
      <label for="filters"><h3>Filters</h3></label>
      <div class="form-row">
        <div class="form-group col-md-2">
              
              <select class="form-control type" id="position" name="position">
                  <option selected>Position</option>
                  <option>SDE 1 BE</option>
                  <option>SDE 1 FE</option>
                  <option>SDE 2 BE</option>
                  <option>SDE 2 FE</option>
                  <option>SDE 3</option>
                  <option>EM</option>
                  <option>Director</option>
                  <option>Sr. Director</option>
                  <option>QA 1</option>
                  <option>QA 2</option>
                  <option>QA 3</option>
                  <option>Data Analyst 1</option>
                  <option>Data Analyst 2</option>
                  <option>Data Scientist 1</option>
                  <option>Data Scientist 2</option>
              </select>
          </div>

          <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary">Filter</button>
          </div>
      </div>
  </form>

    <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">E-mail</th>
            <th scope="col">BudgetCode</th>
            <th scope="col">Position</th>
            <th scope="col">Team</th>
            <th scope="col">Reporting Manager</th>
          </tr>
        </thead>
        <tbody>
        <% emp.forEach(function callback(value, index) {%>
          <tr>
            <th scope="row"><%= index %></th>
            <td><%= value.name %></td>
            <td><%= value.email %></td>
            <td><%= value.budgetCode %></td>
            <td><%= value.position %></td>
            <% if(value.requestAssigned) {%>
              <td><%= value.requestAssigned.requestBody.team %></td>
              <td><%= value.requestAssigned.requestBody.reportingManager %></td>
            <% } else { %>
              <td>NOT ALLOCATED</td>
              <td>NOT ALLOCATED</td>
            <% } %>
          </tr>
         <% }) %>
        </tbody>
      </table>
    
<%- include('./includes/end.ejs') %>