
<%- include('./includes/head.ejs') %>
<link rel="stylesheet" type="text/css" href="css/register.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/0cfa224e02.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<body style="background-color: wheat;">
    <%- include('./includes/nav.ejs') %>

    <div  class="d-flex justify-content-center">
        <form style="background-color: rgb(153, 201, 130);" class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-12 shadow mt-5" action="/addComment" method="post">
            <div style="text-align: center;">
                <textarea style="width: 80%; border-radius:20px;opacity: 0.8;" class="name border p-3 mt-2 mb-2" type="text" name="comment" placeholder="Enter the comment" value=""></textarea>
            </div>
    
            <div style="text-align: center;">
                <input style="width: 80%; border-radius:20px;opacity: 0.8;" class="name border p-3 mt-2 mb-2 _new" type="hidden" name="requestId" value="<%=request._id%>">
            </div>
    
            <div style="text-align: center;">
                <button type="submit" class="btn btn-info ">
                    Add Comment
                </button>            
            </div>
            <br>
        </form>
    </div>
    <br>
    <br>
    <div class="d-flex justify-content-center">
        
        <ul class="d-flex row justify-content-center p-xl-3 p-lg-3 p-md-2 p-1 col-12 persons-ul">
            <%request.comments.forEach(el => {%>
                <li style="list-style-type: none; font-family: 'Viga', sans-serif;" class = "alert alert-success shadow p-3 mb-5 bg-white rounded col col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10 mx-3">
                    <h4 style="text-align: center; "><%= el.text%></h4>
                    <hr>
                    <div class="d-flex justify-content-center">
                        <h4>By:-</h4>
                        <h4><%=el.writtenBy%></h4>
                    </div>
                </li>
                <br>
                <br>
            <%})%>        
        </ul>
    </div>
<%- include('./includes/end.ejs') %>